@model IEnumerable<CRUDwdRepository.Core.Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product List";
}

<h3> @ViewData["Title"] </h3>
<hr />
<form>
    <button asp-action="CreateorEdit" asp-controller="Product" class="btn btn-primary mb-3">Create</button>

    <table class="table table-responsive table bordered">
        <thead>
            <tr class="table-active">
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Qty)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var products in Model)
                {
                    <tr>
                        <td>
                            @products.Id
                        </td>
                        <td>
                            @products.ProductName
                        </td>
                        <td>
                            @products.Price
                        </td>
                        <td>
                            @products.Qty
                        </td>
                        <td >
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Product" asp-action="CreateorEdit" asp-route-id="@products.Id" class="btn btn-success">Edit</a>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@products.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                        <div>
                            No Products Available!
                        </div>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</form>